body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 60, 67);
}

.emptyBox {
  height: 50px;
}

.Logo_and_Btn {
  width: 400px;
  height: 200px;
  display: block;
}

.labFlexbox {
  display: flex;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Btn {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Btn :hover {
  cursor: pointer;
  transform: scale(1.05);
}

.mini_btn {
  display: block;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-size: 13px;
  font-weight: 900;
}

.b_c_btn {
  border: 1px solid rgb(55, 124, 182);
  background-color: rgb(55, 124, 182);
}

.y_c_btn {
  border: 1px solid rgb(247, 182, 43);
  background-color: rgb(247, 182, 43);
}

.p_c_btn {
  border: 1px solid rgb(252, 115, 124);
  background-color: rgb(252, 115, 124);
}

.f_b_c_btn,
.f_y_c_btn,
.f_p_c_btn {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.clothList {
  display: flex;
  flex-direction: column;
}

.itemList {
  width: 400px;
  height: 50px;
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}

.item {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.item > span {
  font-weight: 600;
}
